div{
    text-align: center;
    padding-top: 80px;
}
div{
    display: block;
}
h1{
    font-size: 90px;
    font-weight: bold;
}
p{
    font-size: 35px;
}
button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    transition: all 0.5s;
}
button:hover{
    background-color: green;
}